<div id="container" [routerLink]="[post.number]" routerLinkActive="active">
  <a class="card-link">
    <article class="blog-card">
      <img class="post-image" [src]="post.metaInfo.pic" />
      <div class="article-details">
        <h4 class="post-category">Web</h4>
        <h3 class="post-title">{{post.title}}</h3>
        <p class="post-description">{{post.metaInfo.desc}}</p>
        <p class="post-author">{{ post.created_at | date: 'mediumDate' }}</p>
        <p># of Comment: {{post.comments}}</p>
      </div>
    </article>
  </a>
</div>
