<div class="editor">
    <div class="avatar">
      <img [src]="user.avatar_url" alt="" height="44px" width="44px">
    </div>
    <div class="editor-container">
      <div class="editor-header">
        <div class="tabs">
          <button class="selected tab">Write</button>
          <button class="tab">Preview</button>
        </div>
  
        <span>
          <a (click)="login()">Login</a>
          with Github
        </span>

      </div>
      <div class="editor-body">
        <textarea #textarea class="editor-textarea"></textarea>
        <div class="editor-footer">
          <span>Markdown is supported</span>
          <button class="submit-button" (click)="addComment(textarea.value); textarea.value=''">Comment</button>
        </div>
      </div>
 
    </div>
  </div>