<nz-layout class="background">
  <nz-content style="padding:0 50px;">
    <div style="padding: 24px; min-height: 720px;">
      <app-navbar style="margin: 0 16px 0 0"></app-navbar>
      <router-outlet></router-outlet>
    </div>
  </nz-content>
  <nz-footer style="text-align: center; color:#bbb; background-color: #111517">
    <!-- 1_x7 ©2017 Implement By Angular -->
    <div class="credit">Created by <a class="creator-link" href="https://brettstevenson.io">Xuanqi Li</a></div>
  </nz-footer>
</nz-layout>